<p id="notice"><%= notice %></p>

<h1>Listing Deputies</h1>

<table>
  <thead>
    <tr>
      <th><%= Deputy.human_attribute_name(:ln) %></th>
      <th><%= Deputy.human_attribute_name(:fn) %></th>
      <th><%= Deputy.human_attribute_name(:sn) %></th>
      <th><%= Deputy.human_attribute_name(:birthday) %></th>
      <th><%= Deputy.human_attribute_name(:fraction) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deputies.each do |deputy| %>
      <tr>
        <td><%= deputy.ln %></td>
        <td><%= deputy.fn %></td>
        <td><%= deputy.sn %></td>
        <td><%= deputy.birthday %></td>
        <td><%= deputy.fraction.name %></td>
        <td><%= link_to 'Show', deputy %></td>
        <td><%= link_to 'Edit', edit_deputy_path(deputy) %></td>
        <td><%= link_to 'Destroy', deputy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deputy', new_deputy_path %>
