<p id="notice"><%= notice %></p>

<p>
  <strong>Ln:</strong>
  <%= @deputy.ln %>
</p>

<p>
  <strong>Fn:</strong>
  <%= @deputy.fn %>
</p>

<p>
  <strong>Sn:</strong>
  <%= @deputy.sn %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @deputy.birthday %>
</p>

<p>
  <strong>Fraction:</strong>
  <%= @deputy.fraction.name %>
</p>

<%= link_to 'Edit', edit_deputy_path(@deputy) %> |
<%= link_to 'Back', deputies_path %>
