<%= form_for(@fraction) do |f| %>
  <% if @fraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fraction.errors.count, "error") %> prohibited this fraction from being saved:</h2>

      <ul>
      <% @fraction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :deputy_id %><br>
    <%= f.number_field :deputy_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
