<p id="notice"><%= notice %></p>

<h1>Listing Fractions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Deputy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fractions.each do |fraction| %>
      <tr>
        <td><%= fraction.name %></td>
        <td><%= fraction.quantity %></td>
        <td><%= fraction.deputy_id %></td>
        <td><%= link_to 'Show', fraction %></td>
        <td><%= link_to 'Edit', edit_fraction_path(fraction) %></td>
        <td><%= link_to 'Destroy', fraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fraction', new_fraction_path %>
