<p id="notice"><%= notice %></p>

<h1>Listing Fraction Votes</h1>

<table>
  <thead>
    <tr>
      <th>Fraction</th>
      <th>Vote</th>
      <th>Number of present</th>
      <th>Yes</th>
      <th>No</th>
      <th>Dont know</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fraction_votes.each do |fraction_vote| %>
      <tr>
        <td><%= fraction_vote.fraction %></td>
        <td><%= fraction_vote.vote %></td>
        <td><%= fraction_vote.number_of_present %></td>
        <td><%= fraction_vote.yes %></td>
        <td><%= fraction_vote.no %></td>
        <td><%= fraction_vote.dont_know %></td>
        <td><%= link_to 'Show', fraction_vote %></td>
        <td><%= link_to 'Edit', edit_fraction_vote_path(fraction_vote) %></td>
        <td><%= link_to 'Destroy', fraction_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fraction vote', new_fraction_vote_path %>
