<%= form_for(@law) do |f| %>
  <% if @law.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@law.errors.count, "error") %> prohibited this law from being saved:</h2>

      <ul>
      <% @law.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :fraction_id %><br>
    <%= f.text_field :fraction_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
