<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :law_id %><br>
    <%= f.text_field :law_id %>
  </div>
  <div class="field">
    <%= f.label :vote_date %><br>
    <%= f.date_select :vote_date %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.number_field :result %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
